body {
    background-color:#16697a ;
    /* text-align-last: center; */
    font-family: 'Itim', cursive;
}
.main-container {
    background-color: #ffa62b;
    width: 65%;
    margin: 100px auto 50px;
    text-align: left;
    position: relative;
}
h2 {
    font-family: 'Krona One', sans-serif;
    display: inline-block;
}
.credit {
    text-align: center;
}
a {
    text-decoration: none;  
}
.web {
    color:#0a296b ;
}
.web:hover {
    color: whitesmoke
}
.projects {
    font-size: 1.5rem;
}
.item:hover {
    color: rgb(226, 42, 42);
}